.HouseDashboard{
	position: fixed;
}
.quizPanel{
	height:150px;
	width:300px;
	background-color:orange;
	border-radius: 10px;
}
div.goBack{
  position: fixed;
  bottom:-20px;
  left:-20px;
  z-index:15000;
}