.IconKeyboard.onScreen{
	transform:translateY(-100%);
}
.IconKeyboard.offScreen{
	transform:translateY(0%);
}

.IconKeyboard{
	z-index: 1000;
	position: fixed;
	top:100%;
	left:0;
	width:100vw;
	padding:5vh 0;
	background-color:#FFB347;
	transition:.5s linear ;
}

.writingArea, .keyArea, .textArea{
	margin:0 auto;
	width:90vw;
}
.textArea{
	/*height:35px;*/
	font-size:50px;
	font-family: arial;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 20px;
}
.writingArea{
	min-height:120px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.keyArea{
	min-height:120px;
	margin-top:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

.kidsKeyboardButton.goButton,
.kidsKeyboardButton.closeButton{
	position: absolute;
	z-index: 150;
	border-radius: 50%;
	bottom:-2vw;
}
.kidsKeyboardButton.goButton{
	left:-3vw;
	background-color:#77dd77;
}
.kidsKeyboardButton.closeButton{
	right:-3vw;
	background-color:red;
}