.Menu.onScreen{
	transform:translateY(100%);
}
.Menu.offScreen{
	transform:translateY(0%);
}

.Menu{
	position: fixed;
	height:calc(75px);
	bottom:100%;
	left:0;
	width:97vw;
	/*height:50vh;*/
	background-color:#FFB347;
	transition:.5s linear;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.iconRow.MenuCredentials{
	position: absolute;
	height:50px;
	top:100%;
	margin:10px;

}
.iconRow.MenuCredentials .kidsKeyboardButton{
	min-height: 0;
	min-width: 0;
	height:50px;
	width:50px;
}
div.loginSmallIcon,
div.loginBigIcon{
	height:50px;
	width:50px;
	min-height: 50px;
	min-width: 50px;
	margin:0 10px;
}
div.loginBigIcon{
	width:150px;
}