.Quiz{

	background-color:lightgreen;
	padding-right:5%;
	padding-bottom:5%;
	padding-left:5%;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	font-weight: 900;
	font-size:30px;
	-webkit-text-stroke: 1px white;
}

.quizQuestion{
	height:50%;
	width:100%;
	border-radius: 10px;
	background-color:beige;
	height:40%;
	width:80%;
}
.quizAnswers{
	height:40%;
	width:100%;
}
.quizAnswer{
	border-radius: 10px;
	background-color:beige;
	height:40%;
	width:40%;

}