.App {
  text-align: center;
  height:100vh;
  width:100vw;
  background-color:#ff2015;
}

*{outline:1px dotted black;}

.button{
  margin:5px;
  height:95px;
  min-height:75px;
  width:95px;
  min-width:75px;
  position: relative;
}

.iconRow{
  position: relative;
  margin:20px;
  width:80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:100px;
  border-width: 5px;
  border-top:rgba(0,0,0,.5);
  border-bottom:rgba(0,0,0,.5);
}

/*Flashing Button on Click*/
.button:after {
  pointer-events: none;
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity: 0;
  width:0%;
  height:0%;
  transition: all 0.8s
}
.button:active:after {
  opacity: .5;
  transition: 0s;
  width:100%;
  height:100%;
}

.barAbove:before{
  position: absolute;
  bottom:calc(100% + 15px);
  left:50%;
  transform:translate(-50%,-50%);
  content:"";
  height:5px;
  width:90%;
  background-color: rgba(0,0,0,.3);
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuButton{
  position: fixed;
  z-index: 1000;
  top:-25px;
  right:-25px;
  border-radius: 50%;
  background-color:white;
}

.MenuLine{
  position: absolute;
  height:3px;
  width:50%;
  background-color: black;
  transition:.5s;
}
.MenuLine.A{
  top:35%;
}
.MenuLine.B{
  top:50%;
}
.MenuLine.C{
  top:65%;
}
.MenuButton.cross .MenuLine.A{
  top:50%;
  transform:rotate(45deg);
}
.MenuButton.cross .MenuLine.B{
  opacity: 0;
}
.MenuButton.cross .MenuLine.C{
  top:50%;
  transform:rotate(-45deg);
}

/**{outline:1px dotted black;}*/


.kidsKeyboardButton{
  background-color:#72d3fe;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
